/* Global styles */
body {
  background-color: black;
  animation: fade-in 3s ease-in-out forwards;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 3s ease-in-out forwards;
}

/* Header styles */
header.index {
  background-color: transparent;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: 'hypik', sans-serif;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 70px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Bebas Neue', sans-serif;
}

/* Welcome section */
.welcome-section {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 20px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* About me section */
.about-me-section {
  background-color: white;
  color: black;
  padding: 7px 20px;
}

h1 {
  font-family: 'harabara mais demo', sans-serif;
  font-size: 150px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
}

.about-me-section p {
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 35px;
}

/* Bubble styles */
.bubble-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
}

.bubble {
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Couture', sans-serif;
  transition: transform 0.3s;
}

.bubble:hover {
  transform: scale(1.1);
}

.bubble span {
  font-size: 10px;
  color: black;
}

/* Footer styles */
footer {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  padding: 20px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'bebas neue';
}

.footer-left {
  font-size: 14px;
  margin-right: 20px;
}

.footer-right {
  font-size: 14px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

.footer-right a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  animation: fade-in 6s ease-in-out forwards;
}

/* Reset default browser styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Content styles */
.content {
  text-align: center;
  padding: 0px 20px;
}

.content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  margin-bottom: 40px;
}

#car-video {
  width: 30%;
  height: auto;
  margin-top: 20px;
}

/* Additional styles for content */
.content {
  text-align: left;
  padding: 40px;
  padding-top: 0px;
}

.spotify-container {
  display: flex;
  flex-direction: row;
}

.spotify-item {
  margin-bottom: 20px;
}

.slideshow-container {
  max-width: 100%; /* Adjust to fit the container within the screen */
  position: relative;
  overflow: hidden;
}

.slideshow-container {
  display: flex;
}

.slide {
  flex: 1;
  margin-right: 10px;
  max-width: 100%; /* Ensure images do not exceed container width */
}

.slide:last-child {
  margin-right: 0;
}

.slide img {
  width: 100%; /* Fill available space */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure images do not exceed container width */
}


.past-link {
  color: yellow;
  text-decoration: none;
}

.past-link:hover {
  text-decoration: underline;
}

.image {
  width: 50%;
  height: auto;
}

.explicit {
  color: red;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .bubble-container {
    top: 70%;
  }

  .welcome-section h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .bubble-container {
    top: 80%;
  }

  .welcome-section h1 {
    font-size: 80px;
    margin-bottom: 20px;
  }
}
